<!DOCTYPE html>
<html>
<head>
  <title>Global Events DMC | Event company in Costa Rica, leaders in incentive travel, conventions and meetings in Costa Rica</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:600,400' rel='stylesheet' type='text/css'>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="event management, event company" />
  <meta name="description" content="Global Events DMC | Event company in Costa Rica, leaders in incentive travel, conventions and meetings in Costa Rica. 25 years experience in event management, we cover Central America, Mexico and Dominican Republic" />
</head>
<body>

<%= yield %>

</body>
</html>
